.ctc_link_supp {
	font-family: Arial;
	font-size: $(tfs_css_FontSize)pt;
	color: #000000;
}

.ctc_tbl_row_supp {
	text-align: left;
	font-family: Arial;
	font-size: $(tfs_css_FontSize)pt;
	color: #000000;
	background: #C0C0C0;
}

.ctc_tbl_data_supp {
	text-align: left;
	font-family: Arial;
	font-size: $(tfs_css_FontSize)pt;
	color: #000000;
}
